/*   
Theme Name: brandschool
Theme URI: https://wirgman.com
Description: Дизайн для школы бренда
Author: WIRGMAN
Author URI: http://wirgman.com
*/
body {
	font-family: "Montserrat";
	overflow-x: hidden;
}

.container-fluid {
	overflow: hidden;
	/*position: relative;*/
}

.container {
	position: relative;
	padding: 0;
}
/*block 1 styles*/

#block-1 {
	background: url(img/back-all-smaller.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 35% center;
	position: relative;
	/*height: 100vh;*/
}

#block-1-container {
	padding-bottom: 50px;
}

#woman-with-chair-pic {
	position: absolute;
	right: 30px;
	bottom: -51px;
	z-index: 1;
}

/*navbar styles*/

.navbar {
	padding: 0;
}

#logo {
	width: 170px;
}

.navbar-nav {
	width: 100%;
}

.navbar-nav li a {
	color: #333333;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
}

.navbar-nav li a:hover {
	color: #e2641f;
}

/*navbar form*/

#button_back {
	width: 224px;
	height: 52px;
	background-color: #fedd44;
}

#back_call {
	width: 224px;
	height: 52px;
	border: 4px solid #642952;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	color: #642952;
	font-family: "Montserrat";
	font-size: 13px;
	font-weight: 800;
	text-transform: uppercase;
	position: relative;
	top: -7px;
	left: -7px;
	padding: 2px 0 0 8px; 
}

#back_call:hover {
	color: #e2641f;
	border: 4px solid #e2641f;
}

#navBtn {
	outline: none;
	border: none;
	padding: 0;
}

.fa-bars {
	color: #642952;
	font-size: 40px;
}

#navBtn:hover .fa-bars {
	color: #e2641f;
}

/*TITLE STYLES*/

#for-title {
	position: relative;

}

#small-header,
#small-header-2 {
	color: #e2641f;
	font-size: 15px;
	font-weight: 700;
	position: relative;
	z-index: 10;
	margin: 0;
}

#title {
	color: #642952;
	font-size: 2.5em;
	font-weight: 900;
	position: relative;
	z-index: 10;
	margin: 0;

}

#dots {
	position: absolute;
	top: -12px;
	left: -31px;
	width: 115px;
}

#circle1, #circle2 {
	position: absolute;
	z-index: 8;
	height: 25px;
}

#circle1 {
	top: -30px;
	left: 150px;
}

#circle2 {
	top: 0px;
	right: 0px;
}

#row-1 {
	margin-top: 45px;
}

/*DESCRIPTION STYLES*/

#description {
	max-width: 285px;
	color: #333333;
	font-size: 12px;
	font-weight: 600;
	display: inline-block;
	margin: 0;
	position: relative;
	z-index: 10;
}

#procents {
	font-size: 3.5em;
	font-weight: 900;
	font-style: italic;
	color: transparent;
	-webkit-text-stroke: 2px #642952;
	text-stroke: 2px #642952;
	text-shadow: 3px 2px 0px #fedd44;
}

#row-3 {
	/*margin-top: 25px;*/
	position: relative;
}

/*intensive btn styles*/

#for-intensive-btn {
	position: relative;
	z-index: 10;
}

#intensive-div {
	width: 264px;
	height: 72px;
	background-color: #fedd44;
	display: inline-block;
	margin-right: 33px;
	margin-top: 34px;
}

#intensive-btn {
	width: 264px;
	height: 71px;
	border: 4px solid #642952;
	background: transparent;
	cursor: pointer;
	padding: 3px 0 0 8px;
	color: #642952;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	transform: translate(-7px, -7px);
}

#intensive-btn:hover {
	color: #e2641f;
	border: 4px solid #e2641f;
}

#waves {
	height: 25px;
	margin-right: 5px;
}

/*timer*/

#timer {
	display: inline-block;
	position: relative;
	z-index: 10;
}

#timer-header {
	color: #333333;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

#nums {
	color: #e2641f;
	font-size: 38px;
	font-weight: 600;
	line-height: 19px;
	margin: 13px 0 11px;
}

#timer span {
	color: #333333;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

#day {
	margin: 0 35px 0 25px;
}

#dots-waves-img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
}

@media (min-width: 576px) {
	#logo {
		width: 200px;
	}

	.navbar-nav li {
		margin: 0 0 11px 23px;
	}
	
	#title {
		font-size: 3.5em;
	}

	#small-header,
	#small-header-2 {
		font-size: 20px;
	}

	#description {
		font-size: 16px;
	}

	#procents {
		font-size: 4em;
		margin-left: 21px;
	}
	
	#timer-header {
		font-size: 14px;
	}

	#nums {
		font-size: 42px;
		margin: 16px 0 13px;
	}

	#timer > span {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	#logo {
		width: 210px;
	}

	#button_back {
		background: #fff;
	}

	#title {
		font-size: 4.5em;
	}

	#dots {
		width: 151px;
	}

	#small-header,
	#small-header-2 {
		font-size: 26px;
	}

	#description {
		font-size: 18px;
	}

	#procents {
		font-size: 4.5em;
		margin-left: 21px;
	}

	#intensive-div {
		margin-top: 10px;
	}

	#for-intensive-btn {
		margin-right: 30px;
	}

	#dots-waves-img {
		width: 150px;
	}
	#circle1, #circle2, #circe3 {
		height: 33px;
	}

	#circle1 {
		top: -70px;
		left: -50px;
	}
	#circle3 {
		position: absolute;
		left: 0;
	}
	#waves-1 {
		position: absolute;
		left: -120px;
		bottom: 10px;
	}
}

@media (min-width: 992px) {
	#logo {
		width: 220px;
	}

	#dots-waves-img {
		width: 180px;
	}
	#circle2 {
		top: -30px;
		right: -100px;
	}

}

@media (min-width: 1200px) {
	#block-1 {
		background: url(img/back-all.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	#dots-waves-img {
		width: 220px;
	}
}

/*=====================================
block-2 || PARTNERS
======================================*/

#block-2 {
	background-color: #f8f8f8;
}

#block-2-container {
	padding: 10px 0 40px;
}

.partners-title {
	color: #642952;
	max-width: 210px;
	font-size: 18px;
	font-weight: 800;
	margin: 0;
	margin-top: 30px;
}

.partners-logo {
	margin: 21px 0 0;
	width: 90%;
	max-width: 190px;
}

@media (min-width: 576px) {
	.partners-logo {
		width: unset;
		max-width: unset;
		margin-right: 30px;
	}
}

@media (min-width: 768px) {
	.partners-title {
		font-size: 22px;
	}
}

/*=====================================
block-3 || about course
======================================*/

#block-3 {
	background: url(img/block-3-back.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20% center;
	position: relative;
	z-index: 5;
}

#block-3-container {
	padding: 50px 0;
}

#for-header-3 {
	max-width: 600px;
	position: relative;
	margin: 30px 0;
}

#for-header-3 img {
	position: absolute;
}

#header-dots {
	top: -10px;
	left: -12px;
	height: 104px;
}

#yellow-circle {
	top: 35%;
	right: 10px;
}

#header-waves {
	top: -12px;
	right: -30px;
}

#block-3-header {
	color: #ffffff;
	font-size: 2.6em;
	font-weight: 900;
	position: relative;
	z-index: 10;
}

#block-3-small-header {
	max-width: 600px;
	color: #ffec00;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 30px;
}

#block-3-text {
	max-width: 575px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

#three-lines {
	position: absolute;
	bottom: 0px;
	transform: translateY(40%);
	right: -90px;
	z-index: 7;
	height: 160px;
}

#block-3-col {
	position: relative;
	z-index: 5;
}

@media (min-width: 576px) {
	#block-3-header {
		font-size: 3em;
	}
	#block-3-small-header {
		font-size: 18px;
	}
	#header-waves {
		top: 0;
		right: 70px;
	}
}

@media (min-width: 768px) {
	#block-3 {
		overflow: visible;
	}
	#block-3 {
		background-position: 40% center;
	}
	#block-3-header {
		font-size: 3.5em;
	}
	#block-3-small-header {
		font-size: 20px;
	}
	#header-dots{
		left: -25px;
	}
}

@media (min-width: 992px) {
	#block-3-header {
		font-size: 3.75em;
	}
	#block-3-small-header {
		font-size: 22px;
	}
	#header-dots{
		left: -35px;
	}

	#yellow-circle {
		right: -40px;
	}

	#block-3-photo {
		position: absolute;
		z-index: 3;
		bottom: -10px;
		right: -30px;
		transform: translateX(30%);
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	}
	#three-lines {
		right: 0;
		height: 200px;
	}
}

@media (min-width: 1200px) {
	#block-3 {
		background-position: 90% center;
	}
	#block-3-photo {
		transform: translateX(0);
	}
	#three-lines {
		height: 256px;
	}
}

/*=====================================
block-4 || For who this course
======================================*/

#block-4 {
	background-color: #f8f8f8;
	position: relative;
}

#block-4-container {
	padding: 50px 0;
}

/*block 4 header*/

#block-4-header {
	color: #642952;
	font-size: 2.5em;
	font-weight: 900;
	position: relative;
	z-index: 10;
	margin: 0;
}

#for-header-4 {
	position: relative;
	z-index: 10;
}

#for-header-4 img {
	position: absolute;
}

#header-dots-2 {
	bottom: 7px;
	right: 0;
}

#yellow-circle-2 {
	top: -5px;
	left: -10px;
}

/*block 4 content*/

.for-text-4 {
	margin-top: 34px;
}

.block-4-logo {
	margin-bottom: 15px;
}

.block-4-text-header {
	color: #333333;
	font-size: 18px;
	font-weight: 700;
}

.block-4-text {
	color: #333333;
	font-size: 16px;
}

#purple-dots-circle {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translate(60%, 30%);
}

/*=====================================
block-5 || callback form
======================================*/

#block-5 {
	background: url(img/block-5-back.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% center;
}

#block-5-container {
	padding: 10px 0 30px;
}

/*block 5 header styles*/

#for-header-5 {
	position: relative;
	margin: 38px 0;
} 

#block-5-header {
	color: #ffffff;
	font-size: 2.6em;
	font-weight: 900;
	margin: 0;
	position: relative;
	z-index: 10;
}

#for-header-5 img {
	position: absolute;
}

#header-5-dots {
	width: 100px;
	top: -10px;
	left: -10px;
}

#header-5-circle-1 {
	top: -45px;
	left: 150px;
}

#header-5-circle-2 {
	top: 70px;
	left: 200px;
}

/*description styles*/

#block-5-description {
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
}

#block-5-description span {
	color: #fedd44;
}

/*callback form styles*/

#callback-form {
	margin: 15px 0;
}

#callback-form label {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
}

#callback-form input {
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #936a86;
	margin-bottom: 25px;
	color: #fff;
	font-family: Montserrat;
	/*width: 300px;*/
}

/*intensive btn styles*/

#for-intensive-btn-2 {
	position: relative;
}

#intensive-div-2 {
	width: 264px;
	height: 72px;
	background-color: #fedd44;
	display: inline-block;
	/*margin-right: 33px;*/
	margin-top: 34px;
}

#intensive-btn-2 {
	width: 264px;
	height: 71px;
	border: 4px solid #fff;
	background: transparent;
	cursor: pointer;
	padding: 3px 0 0 8px;
	color: #642952;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	transform: translate(-7px, -7px);
}

#intensive-btn-2:hover {
	color: #e2641f;
	border: 4px solid #e2641f;
}

/*timer*/

#timer-2 {
	display: inline-block;
	position: relative;
	z-index: 10;
}

#timer-header-2 {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

#nums-2 {
	color: #fedd44;
	font-size: 38px;
	font-weight: 600;
	line-height: 19px;
	margin: 13px 0 11px;
}

#timer-2 span {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

#day-2 {
	margin: 0 35px 0 25px;
}

/*=====================================
block-6 || intensive programm
======================================*/
#block-6 {
	padding: 0;
	position: relative;
}

#block-6-container {
	padding: 40px 0 0;
}

#intensive-prog,
#modules-list {
	padding: 0 15px 40px;
}

/*block 6 header styles*/

#block-6-header {
	color: #642952;
	font-size: 2.6em;
	font-weight: 900;
	position: relative;
	z-index: 10;
	margin: 0;
}

#for-header-6 {
	position: relative;
	margin: 30px 0;
}

#for-header-6 img {
	position: absolute;
}

#header-6-dots {
	top: -13px;
	left: -13px;
	width: 130px;
}

#purple-circle-6 {
	top: -18px;
	/*left: 270px;*/
	right: -10px;
}

#yellow-circle-6 {
	bottom: -10px;
	right: 5px;
}

/*block 6 description styles*/

#block-6-description {
	max-width: 418px;
	color: #333333;
	font-size: 18px;
}

.block-6-numbers {
	display: inline-block;
	text-align: center;
	letter-spacing: -1px; 
	font-size: 32px;
	line-height: 1;
	font-weight: 800;
	color: transparent;
	-webkit-text-stroke: 2px #642952;
	text-stroke: 2px #642952;
	text-shadow: 3px 2px 0px #fedd44;
}

.block-6-numbers.first-block {
	margin-right: 30px;
}

.block-6-numbers span {
	font-size: 85px;
	text-shadow: 3px 4px 0px #fedd44;
}

/*start text*/

#for-start-text {
	margin-top: 25px;
}

#start-triangle {
	width: 40px;
}

#start-text {
	display: inline-block;
	vertical-align: top;
	max-width: 220px;
	padding-top: 5px;
}
#start-text h3 {
	color: #642952;
	font-size: 25px;
	font-weight: 500;
	text-align: justify;
	-ms-text-align-last: justify;
	text-align-last: justify;
}

#start-text p {
	color: #642952;
	font-size: 13px;
	font-weight: 500;
}

/*modules styles*/

#modules-list {
	background-color: #f8f8f8;
	background-image: url(img/back-for-modules.png);
	background-repeat: no-repeat;
	background-size: content;
	background-position: right bottom;
	padding-top: 20px;
}

#modules-list > .row {
	margin-top: 10px;
}

.modules-num {
	letter-spacing: -1px; 
	font-size: 25px;
	line-height: 1;
	font-weight: 800;
	color: transparent;
	-webkit-text-stroke: 2px #642952;
	text-stroke: 2px #642952;
	text-shadow: 2px 1px 0px #fedd44;
}

.modules-digit {
	font-size: 55px;
	-webkit-text-stroke: 2px #642952;
	text-stroke: 2px #642952;
}

.modules-header {
	color: #333333;
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 7px;
}

.modules-text {
	max-width: 400px;
	color: #333333;
	font-size: 16px;
	margin: 0;
}

/*=====================================
block-7 || treners
======================================*/

#block-7 {
	background-image: url(img/block-7-back-2.png);
	background-repeat: no-repeat;
	background-size: content;
	background-position: 90% bottom;
	position: relative;
}

#block-7-container {
	padding: 40px 0;
}

#block-7-big-circle {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-60%);
}

/*block 7 header styles*/

#block-7-header {
	max-width: 440px;
	color: #ffffff;
	font-size: 2.6em;
	font-weight: 900;
	position: relative;
	z-index: 10;
	margin: 0;
}

#for-header-7 {
	margin: 30px 0;
}

#for-header-7,
#for-description-7 {
	position: relative;
}

#for-header-7 img {
	position: absolute;
}

#header-7-dots {
	width: 100px;
	top: -15px;
	left: -13px;
}

#header-7-circle {
	top: 0;
	left: 230px;
}

/*block 7 description styles*/

#block-7-description {
	max-width: 406px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

#description-7-waves {
	position: absolute;
	top: -15px;
	right: -50px;
}

/*treners text styles*/

.treners-logo {
	margin-top: 20px;
}

.treners-header {
	color: #ffffff;
	font-size: 18px;
	font-weight: 800;
	margin: 19px 0;
}

.treners-description {
	max-width: 270px;
	color: #ffffff;
	font-size: 15px;
}

@media (max-width: 575.98px) {
	#block-7 {
		background-color: #642952;
	}
}

#block-7-lines {
	position: absolute;
	width: 137px;
	bottom: 0;
	right: 0px;
}
/*=====================================
block-8 || prices
======================================*/

#block-8 {
	background-color: #f8f8f8;
	position: relative;
}

#block-8-container {
	padding: 47px 0;
}

/*block 8 header styles*/

#block-8-header {
	max-width: 495px;
	color: #642952;
	font-size: 2.6em;
	font-weight: 900;
	position: relative;
	z-index: 10;
	margin: 0;
}

#for-header-8 {
	position: relative;
}

#for-header-8 img {
	position: absolute;
}

#header-8-yellow-circle {
	top: -8px;
	left: -13px;
}

#header-8-triangle {
	width: 93px;
	bottom: 5px;
	right: 0;
}

/*pricing block styles*/

.price-container {
	position: relative;
	margin: 35px;
}

.price-div {
	max-width: 270px;
	/*min-height: 695px;*/
	box-shadow: 0 7px 20px rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	position: relative;
	z-index: 10;
	text-align: center;
	padding: 30px 20px;
}

.rectangle-1 {
	position: absolute;
	top: -20px;
	left: -20px;
}

.rectangle-2 {
	position: absolute;
	bottom: -20px;
	right: -20px;
}

.price-header {
	color: #642952;
	font-size: 30px;
	font-weight: 900;
}

.pricing-list {
	padding-left: 30px;
	text-align: left;
	list-style-image: url(img/little-wave.png);
}

.pricing-item {
	color: #aaaaaa;
	font-size: 14px;
	font-weight: 700;
	margin: 9px 0;
	line-height: 1.1;
}

.active {
	color: #333333;
}

.price-cost {
	color: #642952;
	font-size: 42px;
	font-weight: 800;
}

.price-cost span {
	color: #757575;
	font-size: 32px;
	font-weight: 700;
	text-decoration: line-through;
	text-decoration-color: #642952;
}

.price-button-div {
	width: 224px;
	height: 52px;
	background-color: #fedd44;
}

.price-button {
	width: 224px;
	height: 52px;
	border: 4px solid #642952;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	color: #642952;
	font-family: "Montserrat";
	font-size: 13px;
	font-weight: 800;
	text-transform: uppercase;
	position: relative;
	top: -7px;
	left: -7px;
	padding: 2px 0 0 8px; 
}

.price-button:hover {
	color: #e2641f;
	border: 4px solid #e2641f;
}

#block-8-text {
	color: #642952;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

#block-8-purple-circle {
	position: absolute;
	right: -190px;
	top: 15%;
}

/*=====================================
block-9 || callback form 2
======================================*/

#block-9 {
	background: url(img/block-5-back.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% center;
}

#block-9-container {
	padding: 0 0 30px;
}

/*block 9 header styles*/

#for-header-9 {
	position: relative;
	margin: 38px 0;
} 

#block-9-header {
	color: #ffffff;
	font-size: 2.3em;
	font-weight: 900;
	margin: 0;
	position: relative;
	z-index: 10;
}

#for-header-9 img {
	position: absolute;
}

#header-9-dots {
	width: 100px;
	top: -10px;
	left: -10px;
}

#header-9-circle-1 {
	top: 0;
	right: 0;
	/*left: 150px;*/
}

/*#header-9-circle-2 {
	top: 70px;
	left: 200px;
}*/

/*description styles*/

#block-9-description {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
}

/*callback form 2 styles*/

#callback-form-2 {
	margin: 15px 0;
}

#callback-form-2 label {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
}

#callback-form-2 input {
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #936a86;
	margin-bottom: 25px;
	color: #fff;
	font-family: Montserrat;
	/*width: 300px;*/
}

/*intensive btn styles*/

#for-intensive-btn-3 {
	position: relative;
}

#intensive-div-3 {
	width: 264px;
	height: 72px;
	background-color: #fedd44;
	display: inline-block;
	/*margin-right: 33px;*/
	margin-top: 34px;
}

#intensive-btn-3 {
	width: 264px;
	height: 71px;
	border: 4px solid #fff;
	background: transparent;
	cursor: pointer;
	padding: 3px 0 0 8px;
	color: #642952;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	transform: translate(-7px, -7px);
}

#intensive-btn-3:hover {
	color: #e2641f;
	border: 4px solid #e2641f;
}

/*timer*/

#timer-3 {
	display: inline-block;
	position: relative;
	z-index: 10;
}

#timer-header-3 {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

#nums-3 {
	color: #fedd44;
	font-size: 38px;
	font-weight: 600;
	line-height: 19px;
	margin: 13px 0 11px;
}

#timer-3 span {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

#day-3 {
	margin: 0 35px 0 25px;
}

/*======================================
footer
======================================*/

#footer-container {
	padding: 40px 0;
}

#footer-logo {
	width: 195px;
}

#footer-tel {
	color: #333333;
	font-size: 21px;
	font-weight: 700;
	text-decoration: none;
}

#footer-adress {
	color: #333333;
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
	text-align: left;
}

#footer-btn-div {
	width: 264px;
	height: 72px;
	background-color: #fedd44;
}

#footer-btn {
	width: 264px;
	height: 71px;
	border: 4px solid #642952;
	background: transparent;
	cursor: pointer;
	padding: 3px 0 0 8px;
	color: #642952;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	transform: translate(-7px, -7px);
}

/*@media (min-width: 768px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}*/